section
    form(name="question")
      h3 Who do you want to retain the ownership of the User Content if it is uploaded to your website?
      div
        div
          input(type="radio", id="co_me", name='co')
          label(for="co_me") Me
        div
          input(type="radio", id="co_mu", name='co')
          label(for="co_mu") My users
