section
    form(name="question")
      h3 Can users create accounts on your website?       
      div
        div
          input(type="radio", id="ca_y", name='ca')
          label(for="ca_y") Yes
        div
          input(type="radio", id="ca_n", name='ca')
          label(for="ca_n") No
