section
    form(name="question")
      h3 Can users create accounts on your website?       
      div
        div
          input(type="radio", id="ssn", name='pw')
          label(for="ssn") Yes
        div
          input(type="radio", id="ssn", name='pw')
          label(for="ssn") No
