section
	form
		h3 Who will you disclose the information you collect from users to?
		div
			label Within the company
			input(type="text", class="block",placeholder="Include EE's, contractors, advisors, and agents", id="dwc")
		div
			label Which affiliates?
			input(type="text", class="block",placeholder="", id="dwa")
		div
			label Third parties?
			input(type="text", class="block",placeholder="", id ="dwp")