section
    form
        h3 Who will you disclose the information you collect from users to?
        div
          div
            input(type="checkbox", id="d_wc", name='ow_choice')
            label(for="d_wc") Within the company
          div
            input(type="checkbox", id="d_wa", name='ow_choice')
            label(for="d_wa") With affiliates
          div
            input(type="checkbox", id="d_wp", name='ow_choice')
            label(for="d_wp") With third parties