section
	form
		h3 Who will you disclose the information you collect from users to?
		div
			label Within the company
			input(type="text", class="block",placeholder="Include EE's, contractors, advisors, and agents", id = "disclose_company")
		div
			label Which affiliates?
			input(type="text", class="block",placeholder="", id="disclose_affiliates")
		div
			label Third parties?
			input(type="text", class="block",placeholder="", id="disclose_third")
