section
    form(name="question" class='collection')
      h3 What information will you be collecting from the user?          
      div
        label(for="") Password
        input(type="radio", id="ic_pw_req", name='ic_pw')
        label(for="ic_pw_req") Required
        input(type="radio", id="ic_pw_opt", name='ic_pw')
        label(for="ic_pw_opt") Optional
        input(type="radio", id="ic_pw_none", name='ic_pw')
        label(for="ic_pw_none") None  
      div
        label(for="") Email
        input(type="radio", id="ic_em_req", name='ic_email')
        label(for="ic_em_req") Required
        input(type="radio", id="ic_em_opt", name='ic_email')
        label(for="ic_em_opt") Optional
        input(type="radio", id="ic_em_none", name='ic_email')
        label(for="ic_em_none") None 
      div
        label(for="") Username
        input(type="radio", id="ic_user_req", name='ic_un')
        label(for="ic_user_req") Required
        input(type="radio", id="ic_user_opt", name='ic_un')
        label(for="ic_user_opt") Optional
        input(type="radio", id="ic_user_none", name='ic_un')
        label(for="ic_user_none") None 
      div
        label(for="") First and last name
        input(type="radio", id="ic_real_req", name='ic_rn')
        label(for="ic_real_req") Required
        input(type="radio", id="ic_real_opt", name='ic_rn')
        label(for="ic_real_opt") Optional
        input(type="radio", id="ic_real_none", name='ic_rn')
        label(for="ic_real_none") None 
      div
        label(for="") Address
        input(type="radio", id="ic_addr_req", name='ic_address')
        label(for="ic_addr_req") Required
        input(type="radio", id="ic_addr_opt", name='ic_address')
        label(for="ic_addr_opt") Optional
        input(type="radio", id="ic_addr_none", name='ic_address')
        label(for="ic_addr_none") None                     
      div
        label(for="") Phone Number
        input(type="radio", id="ic_phone_req", name='ic_pn')
        label(for="ic_phone_req") Required
        input(type="radio", id="ic_phone_opt", name='ic_pn')
        label(for="ic_phone_opt") Optional
        input(type="radio", id="ic_phone_none", name='ic_pn')
        label(for="ic_phone_none") None 