section
    form(name="question" class='collection')
      h3 What information will you be collecting from the user?          
      div
        label(for="email") Password
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Required
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Optional
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") None  
      div
        label(for="email") Email
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Required
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Optional
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") None 
      div
        label(for="email") Username
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Required
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Optional
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") None 
      div
        label(for="email") First and last name
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Required
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Optional
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") None 
      div
        label(for="email") Address
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Required
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Optional
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") None                     
      div
        label(for="email") Phone Number
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Required
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") Optional
        input(type="radio", id="ssn", name='pw')
        label(for="ssn") None 