section
	form
		h3 If things go south and a dispute arises from these terms, where would you prefer the future litigation to take place?
		input(type="text", class="",placeholder="City...")
		input(type="text", class="",placeholder="State...")