section
    form(name="question")
      h3 Will you allow users to use, share, and modify User Content (i.e. text, images, audio, video) to your website?
      div
        div
          input(type="radio", id="uc_yes", name='uc_radio')
          label(for="uc_yes") Yes
        div
          input(type="radio", id="uc_no", name='uc_radio')
          label(for="uc_no") No
