section
    form(name="question")
      h3 Will you allow users to use, share, and modify User Content (i.e. text, images, audio, video) to your website?
      div
        div
          input(type="radio", id="ssn", name='pw')
          label(for="ssn") Yes
        div
          input(type="radio", id="ssn", name='pw')
          label(for="ssn") No
