section
    form(name="question")
      h3 Do you have a company or is this a sole proprietorship?
      div
        div
          input(type="radio", id="ssn", name='pw')
          label(for="ssn") Company
          input(type="text" placeholder="company name...")
        div
          input(type="radio", id="ssn", name='pw')
          label(for="ssn") Sole proprietorship
