section
    form(name="question")
      h3 Are you developing this for a company or as an individual?
      div
        div
          input(type="radio", id="ow_company", name='ow_choice')
          label(for="ow_company") Company
        div
          input(type="radio", id="ow_sp", name='ow_choice')
          label(for="ow_sp") Individual
      input(type="text", class="block", id="ow_name", placeholder="Company/individual (sole proprietorship) name...")
